    
  table {
    border: 2px solid forestgreen;
    text-align-last: center;
    width: 700px;
    height: 200px;
    
   
  }
    
  th {
    /* border-bottom: 1px solid cyan; */
    box-shadow: cyan;
  }
    
  td {
    text-align: center;
  }